html,
body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: lightcoral;
    text-align: center;
}

.background {
    background-image: url("../image/forest.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 50px;
    width: 100vw;
    height: 100vw;
}

div {

    text-align: center;
    align-items: left;
}

select,
textarea {
    margin: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* generate button size */
.generate {
    padding: 16px;
    border-radius: 16px;
}

/* choose font */
label {
    color: white;
}

.icon {
    cursor: pointer;
}

/* Hide the info text by default */
.info-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    margin-top: 5px;
    font-size: 14px;
}

/* Show info text on hover */
.icon:hover+.info-text {
    visibility: visible;
    pointer-events: none;
}

/* ASCII art box */
.output-box {
    width: 90%;
    border: 1px solid #ccc;
    margin: 10px auto;
    background-color: #c6f5fb;
    overflow-y: auto;
    overflow-x: auto;
    white-space: pre;
    border-radius: 8px;
    justify-content: center;
    max-height: 600px;
}

pre {
    text-align: center;
}

/* 505 internal server error */
.serverError {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* image for internal server error */
.error {
    image-rendering: url("../image/error_image.png");
    max-width: 400px;
    margin: 20px;
}

/* 404 page not found */
p {
    text-align: center;
}

/* 404 page not found image */
.error-container {
    background-image: url("/assets/image/DALL.webp");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    width: 100%;
    padding-top: 200px;
}
