html,
body {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    background-color: lightblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ascii-header {
    color: lightcoral;
    display: flex;
    /* Centers the ASCII art horizontally */
    justify-content: center;
    font-size: calc(1.5vw);
}

.background {
    background-image: url("../image/forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

div {
    text-align: center;
    align-items: left;
}

select,
textarea {
    margin: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* generate button size */
.generate {
    padding: 16px;
    border-radius: 16px;
}

/* font color */
label {
    color: white;
}

/* info icon */
.icon {
    cursor: pointer;
}

/* Hide the info text by default */
.info-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 8px;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;
}

/* Show info text on hover */
.icon:hover+.info-text {
    visibility: visible;
}

/* ASCII art box */
.output-box {
    width: 90%;
    margin: 10px auto;
    background-color: #c6f5fb;
    overflow-y: auto;
    overflow-x: auto;
    white-space: pre;
    border-radius: 8px;
    text-align: center;
    max-height: 300px;
}

/* error texts */
p {
    text-align: center;
}

/* error images */

.error-400 {
    background: url("/assets/image/badrequest.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 90vh;
    width: auto;
}

.error-404 {
    background: url("/assets/image/notfound.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 90vh;
    width: auto;
}

.error-500 {
    background: url("/assets/image/servererror.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 90vh;
    width: auto;
}