<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roopen ja Fannin ASCII-ART-WEB-GENERATOR</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>


<body>

    <h1>ASCII-ART-WEB-GENERATOR</h1>

    <form method="POST" action="/">
        <div class="hero">
            <div>
                <label for="style">Choose a font:</label>
                <select name="style" id="style">
                    <option value="standard">Standard</option>
                    <option value="shadow">Shadow</option>
                    <option value="thinkertoy">Thinkertoy</option>
                </select>
            </div>
            <div>

                <textarea id="userText" name="userText" placeholder="Type something here..." required rows="3"
                    cols="25"></textarea>
                <!-- Textarea for user input -->
            </div>


            <button type="submit">Generate</button>

        </div>
        </div>
    </form>

    <pre>{{ .AsciiArt }}</pre>
</body>

</html>