<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roopen ja Fannin ASCII-ART-WEB-GENERATOR</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>


<body>

    <form method="POST" action="/ascii-art">
        <div class="background">
            <div>
                <h1>ASCII-ART-WEB-GENERATOR</h1>
                <label for="style">Choose a font:</label>
                <select name="style" id="style">
                    {{range .Fonts}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
                </select>
                <span class="icon">ℹ️</span>
                <span class="info-text">This website generates ASCII art from user input.<br>Select a font and type in
                    the
                    field below.<br>Note: only printable ASCII characters (dec value 32-126) work.
                    </span>
            </div>

            <div>

                <textarea id="userText" name="userText" placeholder="Type here..." required rows="5"
                    cols="30"></textarea>
                <!-- Textarea for user input -->

            </div>
            <div class="button-container">
                <button class="generate" type="submit">Generate</button>
                <button>
                    <a href="https://www.asciitable.com/" target="_blank" class="learn-more-button">View ASCII Table</a>
                </button>
            </div>

            <pre id="output-box" class="output-box"> {{ .AsciiArt }}</pre>
        </div>
        </div>
    </form>


</body>

</html>