<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roopen ja Fannin ASCII-ART-WEB-GENERATOR</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>


<body>

    <form method="POST" action="/ascii-art">
        <div class="background">
            <div>
                <div class="ascii-header">
                    <!-- <h2> -->
                    <pre>
                             _____    _____   _____   _____                       _____    _______  
                    /\      / ____|  / ____| |_   _| |_   _|              /\     |  __ \  |__   __| 
                   /  \    | (___   | |        | |     | |    ______     /  \    | |__) |    | |    
                  / /\ \    \___ \  | |        | |     | |   |______|   / /\ \   |  _  /     | |    
                 / ____ \   ____) | | |____   _| |_   _| |_            / ____ \  | | \ \     | |    
                /_/    \_\ |_____/   \_____| |_____| |_____|          /_/    \_\ |_|  \_\    |_|    
                                                                                                    
                 </pre>
                    <!-- </h2> -->
                </div>
                <!-- font selector , drop down menu-->

                <label for="style">Choose a font:</label>
                <select name="style" id="style">
                    <option value="standard">Standard</option>
                    <option value="shadow">Shadow</option>
                    <option value="thinkertoy">Thinkertoy</option>
                </select>

                <!-- info icon -->
                <span class="icon">ℹ️</span>
                <span class="info-text">This website generates ASCII art from user input.<br>Select a font and type in
                    the
                    field below.<br>Max 500 characters<br>NOTE: Only printable ASCII characters are allowed.
                </span>
            </div>
            <!-- Textarea for user input -->
            <div>
                <textarea id="userText" name="userText" placeholder="Type something here..." required rows="3" cols="25"
                    maxlength="500"></textarea>
            </div>
            <!-- Generate & learn learn-more-button -->
            <div class="button-container">
                <button class="generate" type="submit">Generate</button>
                <button>
                    <a href="https://www.asciitable.com/" target="_blank" class="learn-more-button">View ASCII Table</a>
                </button>
                <!-- output-box -->
            </div>
            <pre id="output-box" class="output-box">{{.AsciiArt}}</pre>
        </div>

    </form>


</body>

</html>