<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>
<style>
    p {
        text-align: center;
    }

    .hero {
        background-image: url("/assets/image/DALL.webp");
        background-size: contain;
        height: 300px;
        background-position: center;
        width: 100%;
        padding-top: 200px;
    }
</style>

<body>
    <div class="error-container hero"> </div>
    <!-- <h1> 404 </h1> -->
    <p>
        Oops! The page you're looking for is not here.
        <a href="http://localhost:8080/">Go Back to Home</a>
    </p>


</body>

</html>